# Python / Poetry / Uv / Pipenv
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.db
test_*.db

# Node
node_modules/
dist/
build/
.astro/
.vercel/

# Environment / Secrets
.env
.env.*
!.env.example
.dev.vars

# OS / IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
